
body {
    font-family: Merriweather,'Helvetica Neue',Arial,sans-serif;
}


hr {
    max-width: 50px;
    border-color: #f05f40;
    border-width: 3px;
}

hr.light {
    border-color: #fff;
}

a {
    color: #f05f40;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover,
a:focus {
    color: #eb3812;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
}

.bg-primary {
    background-color: #f05f40;
    padding-bottom: 100px;
}

.margin-bottom{
margin-bottom: 50px;
}

.centerMy{
  position: absolute;
  left: 50%;
  margin-left: -100px;
}
.bg-dark {
    color: #fff;
    background-color: #222;
}

.text-faded {
    color: rgba(255,255,255,.7);
}

aside {
    padding: 50px 0;
}

.no-padding {
    padding: 0;
}

.navbar-default {
    border-color: rgba(34,34,34,.05);
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.navbar-default .navbar-header .navbar-brand {
    text-transform: uppercase;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: 700;
    color: #f05f40;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
    color: #eb3812;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #222;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: #f05f40;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #f05f40!important;
    background-color: transparent;
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
    background-color: transparent;
}

@media(min-width:768px) {
    .navbar-default {
        border-color: rgba(255,255,255,.3);
        background-color: transparent;
    }

    .navbar-default .navbar-header .navbar-brand {
        color: rgba(255,255,255,.7);
    }

    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: #fff;
    }

    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: rgba(255,255,255,.7);
    }

    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #fff;
    }

    .navbar-default.affix {
        border-color: rgba(34,34,34,.05);
        background-color: #fff;
    }

    .navbar-default.affix .navbar-header .navbar-brand {
        font-size: 14px;
        color: #f05f40;
    }

    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: #eb3812;
    }

    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #222;
    }

    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: #f05f40;
    }
}

header {
    position: relative;
    width: 100%;
    text-align: center;
    color: #fff;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .header-content {
    position: center;
    width: 80%;
    padding: 100px 35px;

    text-align: center;
}

header .header-content .header-content-inner h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 700;
}

header .header-content .header-content-inner hr {
    margin: 30px auto;
}

.carousel-caption {
    top: 200px;
    bottom: auto;
}
/* reduce the spacing in the carousal caption and the main elements*/
@media only screen and (max-width: 630px) {
    .container {
      padding:0;
      margin:0;
    }

    body {
      padding:0;
    }

    .carousel-caption {
    top: 50px;
    bottom: auto;
    padding-bottom:70px;
}

    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
      margin-left: 0;
      margin-right: 0;
      margin-bottom:0;
    }
}

header .header-content .header-content-inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255,255,255,.7);
}

@media(min-width:768px) {
    header {
        min-height: 100%;
    }

    header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    header .header-content .header-content-inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1100px;
    }

    header .header-content .header-content-inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
    }
}

.section-heading {
    margin-top: 20px;
}

.service-box {
    margin: 50px auto 0;
    max-width: 400px;
}

@media(min-width:992px) {
    .service-box {
        margin: 20px auto 0;
    }
}

.service-box p {
    margin-bottom: 0;
}

.portfolio-box {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 650px;
}

.portfolio-box .portfolio-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    background: rgba(240,95,64,.9);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    padding: 0 15px;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
}

@media(min-width:768px) {
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
        font-size: 16px;
    }

    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
        font-size: 22px;
    }
}

.call-to-action h2 {
    margin: 0 auto 20px;
}

.text-primary {
    color: #f05f40;
}

.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.btn-default {
    border-color: #fff;
    color: #222;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    border-color: #ededed;
    color: #222;
    background-color: #f2f2f2;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    border-color: #fff;
    background-color: #fff;
}

.btn-default .badge {
    color: #fff;
    background-color: #222;
}

.btn-primary {
    border-color: #f05f40;
    color: #fff;
    background-color: #f05f40;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    border-color: #ed431f;
    color: #fff;
    background-color: #ee4b28;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: #f05f40;
    background-color: #f05f40;
}

.btn-primary .badge {
    color: #f05f40;
    background-color: #fff;
}

.btn {
    border: 0;
    border-radius: 300px;
    text-transform: uppercase;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: 700;
}

.btn-xl {
    padding: 15px 30px;
}

::-moz-selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

::selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

img::selection {
    color: #fff;
    background: 0 0;
}

img::-moz-selection {
    color: #fff;
    background: 0 0;
}

body {
    webkit-tap-highlight-color: #222;
}

.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}

.margin_register{
    margin-left:120px;
    margin-right:120px;
    margin-top:100px;
     margin-bottom:60px;
}

#message{
   color:#555;
    font-family:Tahoma, Geneva, Arial, sans-serif;
    font-size:11px;
    padding:10px 36px;
    margin:10px;
    color:#fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
     font-weight:bold;
    text-transform:uppercase;
    letter-spacing: 1px;
}


.success {
    background:#4cbe83  url("/static/img/success.png") no-repeat 10px 50%;
    border:1px solid #a6ca8a;
}
.success:hover { background-color: #36ad6f; }

#message2 {
    color:#555;
    font-family:Tahoma, Geneva, Arial, sans-serif;
    font-size:11px;
    padding:10px 36px;
    margin:10px;
    color:#fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    border:1px solid #d46c57;
    font-weight:bold;
    text-transform:uppercase;
    letter-spacing: 1px;
    background:#e47c68  url("/static/img/fail.png") no-repeat 10px 50%;
}
.backgroundQueston{

    background-image: url("/static/img/backgorund-blurry.jpg");

}

.backgroundLeaderboard{

 background-image: url("/static/img/blurried-big.jpg");
}

.error {
    background:#e47c68  url("/static/img/fail.png") no-repeat 10px 50%;
    border:1px solid #a6ca8a;
}
.error:hover {  background-color: #d46c57; }


tr {
width: 100%;
display: inline-table;
}

tbody{
  overflow-y: scroll;
  height: 500px;
  width: 100%;
  position: absolute;
}

.noOverflow{
     overflow-y: hidden;
     height:auto;
}

.tableLeaderboard{
 top: 20pt;
 bottom: auto;
}
/*
.biggerText{
font-size: 65px;
}

*/
h1 {
  font-size: 5.9vw;
}
h2 {
  font-size: 4.5vw;
}
p {
  font-size: 3vmin;
}

.tableLeaderboard table.scroll {
    width: 100%; /* Optional */
    /* border-collapse: collapse; */
    border-spacing: 0;

}

.tableLeaderboard table.scroll tbody,
.tableLeaderboard table.scroll thead { display: block; }

.tableHeading {
    height: 30px;
    width: 10%;
    line-height: 30px;
    text-align: center;
    background-color: #6699ff;
    color: white;
    border-right: 1px solid white;

}


.positionStatic{
    position: static;
}
.tableLeaderboard table.scroll tbody {
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}
/* reduce high of table when screen hight too small*/
@media(max-height:568px) {
   .tableLeaderboard table.scroll tbody {
    height: 200px;
    }
}

.tableLeaderboard tbody { border-top: 2px solid white; }

.tableLeaderboard tbody td, thead th {
    width: 10%;
    text-align: center;
}

.tabletop5 tbody td, thead th {
    width: 10%;
    text-align: center;
}

.tableLeaderboard .addborders{
border-all: 1px solid white;
border: 1px solid white;
}

.main-box{

width: 800px;
height: 400px;

background-color: #f2f2f2;
padding-left: 10px;
padding-right: 10px;
}

.profileLeft{
width: 200px;
height: 350px;
background-color: #ffffff;
float: left;
text-align: center;
}

.profileCenter{
width: 550px;
height: 350px;
background-color: #ffffff;
float: left;
margin-left: 15px;
text-align: center;
}

.profileRight{
width: 250px;
height: 150px;
background-color: #ffffff;
float: right;
text-align: center;
}

.profileImage{
display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
}




.tabletop5 {

    bottom: 100px;
    padding-bottom: 30px;
}

.padding-table{
  padding-bottom: 80px;
}

.bigheading{
    font-size: 85px;
}

.center{
 margin: 0 auto;
}
.below{
position: relative;
margin-right:50px ;
margin-top: 10px;
}

.margin-small-top{
margin-top: 40px;
}

.movedown{
margin-right:20px ;
}

.offset-left{
margin-left:90px ;
}

.offset-top{
top: 80px;
}
.styletitle{
 text-transform: uppercase;
 color:white;
 font:normal 30pt Arial;
 color:#FFFFFF;
 text-shadow: 0 1px 0 #ccc,
 0 2px 0 #c9c9c9,
 0 3px 0 #bbb,
 0 4px 0 #b9b9b9,
 0 5px 0 #aaa,
 0 6px 1px rgba(0,0,0,.1),
 0 0 5px rgba(0,0,0,.1),
 0 1px 3px rgba(0,0,0,.3),
 0 3px 5px rgba(0,0,0,.2),
 0 5px 10px rgba(0,0,0,.25),
 0 10px 10px rgba(0,0,0,.2),
 0 20px 20px rgba(0,0,0,.15);

.wrapper h1{
 font:normal 50pt Arial;
 color:#FFFFFF;
 text-shadow: 0 1px 0 #ccc,
 0 2px 0 #c9c9c9,
 0 3px 0 #bbb,
 0 4px 0 #b9b9b9,
 0 5px 0 #aaa,
 0 6px 1px rgba(0,0,0,.1),
 0 0 5px rgba(0,0,0,.1),
 0 1px 3px rgba(0,0,0,.3),
 0 3px 5px rgba(0,0,0,.2),
 0 5px 10px rgba(0,0,0,.25),
 0 10px 10px rgba(0,0,0,.2),
 0 20px 20px rgba(0,0,0,.15);
}



}
.letterspacing{
letter-spacing: 7px;
}

.borderImage {

   border-radius: 16px;
   padding: 8px;
  box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.5);
  background: #ddd;
  padding: 8px;
  margin-bottom:20px;
  -moz-background-clip: border;     /* Firefox 3.6 */
  -webkit-background-clip: border;  /* Safari 4? Chrome 6? */
  background-clip: border-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */

  -moz-background-clip: padding;     /* Firefox 3.6 */
  -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
  background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */


  -webkit-background-clip: content;  /* Safari 4? Chrome 6? */
  background-clip: content-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */

}

.btnPlay {
  background: #b1ddfa;
  background-image: -webkit-linear-gradient(top, #b1ddfa, #12a4ff);
  background-image: -moz-linear-gradient(top, #b1ddfa, #12a4ff);
  background-image: -ms-linear-gradient(top, #b1ddfa, #12a4ff);
  background-image: -o-linear-gradient(top, #b1ddfa, #12a4ff);
  background-image: linear-gradient(to bottom, #b1ddfa, #12a4ff);
  -webkit-border-radius: 19px;
  -moz-border-radius: 19px;
  border-radius: 19px;
  text-shadow: 1px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 5px 22px 5px 20px;
  border: solid #1f628d 2px;
  text-decoration: none;
  white-space: normal;
}

.btnPlay:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}



.correctGuess {
  background-color: #4CAF50;
  -webkit-border-radius: 19px;
  -moz-border-radius: 19px;
  border-radius: 19px;
  text-shadow: 1px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 5px 22px 5px 20px;
  border: solid #1f628d 2px;
  text-decoration: none;
  text-transform: uppercase;
  white-space: normal;
}
.wrongGuess {
  background-color: #f44336;
   -webkit-border-radius: 19px;
  -moz-border-radius: 19px;
  border-radius: 19px;
  text-shadow: 1px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 5px 22px 5px 20px;
  border: solid #1f628d 2px;
  text-decoration: none;
  text-transform: uppercase;
  white-space: normal;
}


#container {
    width: 100%;
  height: 100%;
  position: relative;
}
#navi,
#infoi {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 400px;
  left: 400px;
}
#infoi {
  z-index: 10;
}

#favouritesBody{
    overflow-y: scroll;
    height: 300px;
    width: 100%;
}

#favouritesBody td.pic{
    width: 150px;
}

#favouritesBody td.title{
    width: 400px;
    word-wrap: break-word;
}

img.poster{
     width:50px;
     height:75px;
}