a {
  color: #4db8ff;
  font-family: Lucida Grande;
}
h1 {
  font-family: Lucida Grande;
}
#header {}
#footer {}
.correctGuess {
  background-color: #4CAF50;
}
.wrongGuess {
  background-color: #f44336;
}

.show{
  display:block;
}

.hide{
  display:none;
}
