{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}<title>About</title>{% endblock %}

{% block uppper %}
     <div id="carousel-example-generic" class="carousel slide">

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img class="img-responsive img-full" src="/static/img/movie.jpg" alt="">
                    <div class="carousel-caption">

                    </div>
                </div>
            </div>

            <!-- Controls -->


        </div>
{% endblock %}





