<html lang="en">

<head>
  <meta charset="UTF-8">
      <!-- Responsivness -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Game Sessions</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


  <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
  <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
  <!-- Bootstrap Core JavaScript -->

  <script src="/static/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">
  <script src="/static/js/rango-ajax.js"></script>
  <link rel="stylesheet" href="/static/css/guessthemovie.css" type="text/css">
   <link rel="stylesheet" href="/static/css/creative.css" type="text/css">
  <!-- Styles for the buttons -->
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="/static/css/animate.min.css" type="text/css">

</head>

<body class="backgroundQueston">
  <script>
    // using jQuery
    function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
          var cookie = jQuery.trim(cookies[i]);
          // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) == (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    function sameOrigin(url) {
      console.log("v origin sym")
      // test that a given url is a same-origin URL
      // url could be relative or scheme relative or absolute
      var host = document.location.host; // host + port
      var protocol = document.location.protocol;
      var sr_origin = '//' + host;
      var origin = protocol + sr_origin;
      // Allow absolute or scheme relative URLs to same origin
      return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
        (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
        // or any other URL that isn't scheme relative or absolute i.e relative.
        !(/^(\/\/|http:|https:).*/.test(url));
    }
    $.ajaxSetup({
      beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
          xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
      }
    });
  </script>
  <br>
  <div class="wrapper">
  <h1 class="col-lg-6 col-lg-offset-3 text-center styletitle letterspacing" id ="questionNumber">question number 1 </h1>
    </div>
  {% for question in game_session.question_set.all %}
  <div id="{{question.id}}" class="question row " style="display:{% if forloop.first %} block; {% else %} none; {% endif %}">
<div class="col-lg-6 col-lg-offset-3 text-center">
    <img  src="{{ question.movie.image_url }}" class=" borderImage " width="600" height="350" />

</div>
    {% for answer in question.answer_set.all %}

    <button id="{{answer.id}}" type="button" class="btn btnPlay below col-lg-6 col-lg-offset-3 col-md-offset-3row"  value="{{answer.text}}">
      {{answer.text}}

    </button>




    <script type="text/javascript">
      var counter = 1;
      $("#{{answer.id}}").click(function(event) {
        console.log($(this).attr("value"));
        console.log("{{question.movie.title}}");
        var element = $(this);
        if ("{{question.movie.title}}" === $(this).attr("value")) {
          element.removeClass("btn");
          element.removeClass("btnPlay");
          element.addClass("CorrectGuess");
          element.addClass(" animated pulse");
          $.ajax({
            url: "/guess_the_movie/question/{{question.id}}/update/",
            method: "POST",
            data: {
              "value": true,
              CSRF: "{{csrf_token}}"
            },
            success: function(result) {
            }
          });
        } else {
          element.removeClass("btn");
          element.removeClass("btnPlay");
          element.addClass("wrongGuess");
          element.addClass(" animated shake");
        }
       setTimeout(
          function(){
            var next = {{question.id}} + 1;
            console.log(next);
            console.log($("#" + next));

            $("#{{question.id}}").hide();
            $("#" + next).show();
            increment()
          },600
        );
      });

      function add() {
        if (counter == 10){
          window.location = "/guess_the_movie/summary/{{game_session.id}}"
        }
        else {
          counter += 1
          console.log("Counter " + counter);
          return counter;
        }
      }

      function increment(){
        var num = add()
        if(num===undefined){}
        else{document.getElementById("questionNumber").innerHTML = "question number " + num;}
      }

    </script>
    {% endfor %}
  </div>
      {% endfor %}

</body>

</html>
