
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
        <!-- Bootstrap Core JavaScript -->

    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/rango-ajax.js"></script>

</head>
<body>
<h1>This is the game html</h1>

<strong id="like_count">{{ user.total_points }}</strong> people like this category
   <button id="likes" data-queid="{{user.total_points}}" class="btn btn-primary" type="button">
        <span class="glyphicon glyphicon-thumbs-up"></span>
        Like
        </button>

</body>
</html>
