
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
        <!-- Bootstrap Core JavaScript -->

    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/rango-ajax.js"></script>

</head>
<body>
<h1>This is the game html</h1>

<h1> {{ user.user.username }} </h1>
<h3> {{ movies }}</h3>
<h3>{{ answers }}</h3>
<h1>{{ movies.0.image_url }}</h1>
<img src={{ movies.0.image_url }} width="500" height="300" /> <!-- Images -->


   <button id="likes" type="button" >
        {{ answers.0.0 }}
        </button>

   <button id="likes" type="button" >
        {{ answers.0.1 }}
        </button>

    <button id="likes" type="button">
        {{ answers.0.2}}
    </button>

    <button id="likes" type="button">
        {{ answers.0.3}}
    </button>

</body>
</html>
