<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC"-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtmll/DTD/xhtmll-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <title>Guess The Movie</title>
        <link rel="stylesheet" href="static/css/guessthemovie.css"/>
    </head>

    <body>
        <h1>Guess The Movie</h1>
        <a href="/guess_the_movie/">Play</a>
        <a href="/guess_the_movie/">Leaderboards</a>
        <a href="/guess_the_movie/">About</a>
        <a href="/guess_the_movie/login">Sign In</a>
        <a href="/guess_the_movie/register">Register</a>

    </body>
</html>