{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}About{% endblock %}

{% block uppper %}
 <div id="carousel-example-generic" class="carousel slide">


            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img class="img-responsive img-full" src="/static/img/avengers.jpg" alt="">
                    <div class="carousel-caption tableLeaderboard">


                        <div class="row">
                            <div class="col-lg-12 ">
                                <h3>Search by User or Score</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-lg-offset-4">
                                <input type="search" id="search" value="" class="form-control"
                                       placeholder="Search here">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 positionStatic margin-small-top">
                                <table class="table tableLeaderboard scroll" id="table">
                                    <thead>
                                    <tr class="tableHeading">
                                        <th>Name</th>
                                        <th>Score</th>

                                    </tr>

                                    <tbody>

                                    {% for user in allUsers %}
                                    <tr >
                                        <td >{{ user.user.username }}</td>
                                        <td >{{ user.total_points }}</td>
                                    </tr>
                                    {% endfor %}


                                    </tbody>
                                     </thead>
                                </table>

                            </div>
                        </div>
                    </div>

                    <!-- Controls -->


                </div>
{% endblock %}

{% block script %}
                <script>
                $(function () {
    $( '#table' ).searchable({
        striped: true,
        oddRow: { 'background-color': '#f5f5f5' },
        evenRow: { 'background-color': '#fff' },
        searchType: 'fuzzy'
    });

    $( '#searchable-container' ).searchable({
        searchField: '#container-search',
        selector: '.row',
        childSelector: '.col-xs-4',
        show: function( elem ) {
            elem.slideDown(100);
        },
        hide: function( elem ) {
            elem.slideUp( 100 );
        }
    })
});

</script>

<script>


    var $table = $('table.scroll'),
    $bodyCells = $table.find('tbody tr:first').children(),
    colWidth;

// Adjust the width of thead cells when window resizes
$(window).resize(function() {
    // Get the tbody columns width array
    colWidth = $bodyCells.map(function() {
        return $(this).width();
    }).get();

    // Set the width of thead columns
    $table.find('thead tr').children().each(function(i, v) {
        $(v).width(colWidth[i]);
    });
}).resize(); // Trigger resize handler
</script>
{% endblock %}



