{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}<title>Leaderboard</title>{% endblock %}
{% block body %}<body id="page-top" class="backgroundLeaderboard">{% endblock %}
{% block uppper %}
  <header>
    <div class="carousel-caption tableLeaderboard">
        <div id="container" class="  text-center">


            <div class="row">
                <div class="col-lg-12 ">
                    <h3>Search by User or Score</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-4">
                    <input type="search" id="search" value="" class="form-control"
                           placeholder="Search here">
                </div>
            </div>
            <div class="row ">
                <div class="col-lg-12 positionStatic margin-small-top">
                    <table class="table tableLeaderboard scroll" id="table">
                        <thead>
                        <tr class="tableHeading">
                            <th>Name</th>
                            <th>Score</th>

                        </tr>

                        <tbody>

                        {% for user in allUsers %}
                        <tr>
                            <td style="color:black" >{{ user.user.username }}</td>
                            <td style="color:black">{{ user.total_points }}</td>
                        </tr>
                        {% endfor %}


                        </tbody>

                    </table>

                </div>
            </div>
        </div>


        <div>

        </div>
    </div>
</header>

{% endblock %}


