
{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}<title>Profile - {{user.username}}</title>{% endblock %}

{% block body %}<body  class="backgroundLeaderboard"> {% endblock %}
{% block uppper %}
   <div class="container margin_register" >
    <div class="row" >
        <div class="col-sm-8 col-md-8 col-md-offset-2" style="background-color: white">
            <div class="row ">

            <h1 class="text-left login-title text-center">Profile</h1>
            <div class="col-sm-4 text-center">
                {% if userp.picture %}
                <img src="{{userp.picture.url}}" class="img-responsive profileImage"/>
                <a href="/guess_the_movie/upload_picture ">Change picture</a><br/><br/>
                {% else %}
                 <img src="/static/img/avatar.jpg" class="img-responsive profileImage"/>
                <a href="/guess_the_movie/upload_picture">Add a picture</a><br/><br/>
                {% endif %}
                Username: {{user.username}}<br/>

                <br><br>
                    <strong>Game sessions</strong><br/>
                Games played: {{games}}<br/>
                Average points:{{avg}}<br/>
                Best score:{{max}}<br/>
                    </div>
                <div class="col-sm-7 equal">
                     <table class="table table-bordered"   >
                    <thead>
                    <tr>
                        <th colspan="2">Favourites</th>
                    </tr>
                    </thead>
                    <tbody style="overflow-y:scroll; position:absolute; height: 250px;">
                    {% for u in userfav %}
                    <tr  >
                        <td width="30%"><img src="{{u.movie.poster_url}}" width="50px" height="75px"/></td>
                        <td width="70%">{{u.movie.title}}</td>
                     </tr>

                    {% endfor %}

                    </tbody>
                </table>
            </div>

    </div>
</div>
        </div>
       </div>
{% endblock %}


