
{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}<title>Profile - {{user.username}}</title>{% endblock %}

{% block body %}<body  class="backgroundLeaderboard"> {% endblock %}
{% block uppper %}
   <div class="container margin_register" >
    <div class="row">
        <div class="col-sm-8 col-md-8 col-md-offset-1">
            <div class="main-box">
            <h1 class="text-left login-title">Profile</h1>
            <div class="profileLeft">
                {% if userp.picture %}
                <img src="{{userp.picture.url}}" class="img-responsive profileImage"/>
                <a href="/guess_the_movie/upload_picture">Change picture</a><br/><br/>
                {% else %}
                 <img src="/static/img/avatar.jpg" class="img-responsive profileImage"/>
                <a href="/guess_the_movie/upload_picture">Add a picture</a><br/><br/>
                {% endif %}
                Username: {{user.username}}<br/>
                    <a href="/guess_the_movie/profile/change_password">Change Password</a>
                <br><br>
                    <strong>Game sessions</strong><br/>
                Games played: {{games}}<br/>
                Average points:{{avg}}<br/>
                Best score:{{max}}<br/>
                    </div>
                <div class="profileCenter">
                     <table class="table table-bordered" >
                    <thead>
                    <tr>
                        <th colspan="2">Favourites</th>

                    </tr>
                    </thead>
                    <tbody id="favouritesBody">
                    {% for u in userfav %}
                    <tr style="display:block" >
                        <td style="width: 150px;"><img src="{{u.movie.poster_url}}" width="50px" height="75px"/></td>
                        <td style="width: 400px;word-wrap: break-word;">{{u.movie.title}}</td>
                     </tr>

                    {% endfor %}

                    </tbody>
                </table>
            </div>

    </div>
</div>
        </div>
       </div>
{% endblock %}


