{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Summary{% endblock %}

{% block uppper %}
        <div id="carousel-example-generic" class="carousel slide">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img class="img-responsive img-full" src="/static/img/blur.png" alt="">
                    <div class="carousel-caption offset-top">

                        {% if answers %}
                        <p>You have answered {{correct}} questions correctly!</p>
                        <table class="table">
                            <thead>
                            <tr>
                                <th width='175px'>
                                    <center>Photo</center>
                                </th>
                                <th width='175px'>
                                    <center>Corresct Answer</center>
                                </th>
                                <th width='175px'>
                                    <center>Player's answer</center>
                                </th>
                                <th width='175px'>
                                    <center>Add to Favourites</center>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for answer in answers %}

                            <tr height='75px'>
                                <td width='175px' height='75px'>
                                    <center><img src="{{ answer.movie.image_url}}" width="125" height="75"/></center>
                                </td>
                                <td width='175px' height='75px'> {{ answer.movie.title }} </td>
                                {% if answer.answered == True%}

                                <td width='175px' height='75px'>
                                    <center><span class="glyphicon glyphicon-ok fa-4x"
                                                  style="color:green; font-size:75px;"></span>
                                        <center>
                                </td>
                                {% else %}
                                <td width='175px' height='75px'>
                                    <center><span class="glyphicon glyphicon-remove  fa-5x"
                                                  style="color:red;font-size:75px;"></span></center>
                                </td>
                                {% endif %}

                                <td>
                                    <button  class="btn btn-primary" id="{{answer.movie.id}}" type="button">Add</>
                                </td>
                                <script type="text/javascript">

                                    $("#{{answer.movie.id}}").click(function (event) {
                                        var element = $(this);
                                        $.ajax({
                                            url: "/guess_the_movie/summary/{{answer.movie.id}}/update/",
                                            method: "GET",
                                            data: {},
                                            success: function (result) {
                                            }
                                        });
                                    });
                                </script>


                            </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                        {% else %}
                        <strong>There are no game session with this id that you can.</strong>
                        {% endif %}

                    </div>
                </div>

            </div>


            </a>
        </div>

{% endblock %}


