<!DOCTYPE html>
<html lang="en">


<head>
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <!-- Bootstrap Core JavaScript -->

    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/rango-ajax.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Guess the Movie</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
          rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic'
          rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="static/font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="/static/css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/css/summarytable.css" type="text/css">
    <link rel="stylesheet" href="/static/css/creative.css" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">Guess The Movie</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#">Home</a>
                </li>
                <li>
                    <a class="page-scroll" href="/guess_the_movie/game">Play</a>
                </li>
                <li>
                    <a class="page-scroll" href="/guess_the_movie/leaderboard">Leaderboards</a>
                </li>
                <li>
                    <a class="page-scroll" href="/guess_the_movie/about">About</a>
                </li>
                {% if user.is_authenticated %}
                <li>
                    <a class="page-scroll" href="">Welcome {{user.username}}</a>
                </li>
                <li>
                    <a class="page-scroll" href="/guess_the_movie/logout/">Logout</a>
                </li>

                {% else %}
                <li>
                    <a class="page-scroll" href="/guess_the_movie/login">Login</a>
                </li>
                <li>
                    <a class="page-scroll" href="/guess_the_movie/register">Sign UP FREE</a>
                </li>
                {% endif %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>


<header>

    <div class=" text-center">
        <div id="carousel-example-generic" class="carousel slide">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img class="img-responsive img-full" src="/static/img/blur.png" alt="">
                    <div class="carousel-caption offset-top">

                        {% if answers %}
                        <p>You have answered {{correct}} questions correctly!</p>
                        <table class="table">
                            <thead>
                            <tr>
                                <th width='175px'>
                                    <center>Photo</center>
                                </th>
                                <th width='175px'>
                                    <center>Corresct Answer</center>
                                </th>
                                <th width='175px'>
                                    <center>Player's answer</center>
                                </th>
                                <th width='175px'>
                                    <center>Add to Favourites</center>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for answer in answers %}

                            <tr height='75px'>
                                <td width='175px' height='75px'>
                                    <center><img src="{{ answer.movie.image_url}}" width="125" height="75"/></center>
                                </td>
                                <td width='175px' height='75px'> {{ answer.movie.title }} </td>
                                {% if answer.answered == True%}

                                <td width='175px' height='75px'>
                                    <center><span class="glyphicon glyphicon-ok fa-4x"
                                                  style="color:green; font-size:75px;"></span>
                                        <center>
                                </td>
                                {% else %}
                                <td width='175px' height='75px'>
                                    <center><span class="glyphicon glyphicon-remove  fa-5x"
                                                  style="color:red;font-size:75px;"></span></center>
                                </td>
                                {% endif %}

                                <td>
                                    <button  class="btn btn-primary" id="{{answer.movie.id}}" type="button">Add</>
                                </td>
                                <script type="text/javascript">

                                    $("#{{answer.movie.id}}").click(function (event) {
                                        var element = $(this);
                                        $.ajax({
                                            url: "/guess_the_movie/summary/{{answer.movie.id}}/update/",
                                            method: "GET",
                                            data: {},
                                            success: function (result) {
                                            }
                                        });
                                    });
                                </script>


                            </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                        {% else %}
                        <strong>There are no game session with this id that you can.</strong>
                        {% endif %}

                    </div>
                </div>

            </div>


            </a>
        </div>
    </div>

</header>


<!-- jQuery -->
<script src="/static/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/static/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="/static/js/jquery.easing.min.js"></script>
<script src="/static/js/jquery.fittext.js"></script>
<script src="/static/js/wow.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/static/js/creative.js"></script>


</body>

</html>
