{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}<title>Summary</title>{% endblock %}

{% block uppper %}
<div class="full-screenMy backgroundPicSummery">
    <div class="carousel-caption offset-top">
        {% if answers %}
        <p><b>You have answered {{correct}} questions correctly!</b></p>
        <table class="table">
            <thead>
            <tr>
                <th width='175px'>Photo</th>
                <th width='175px'>Correct Answer</th>
                <th width='175px'>Player's answer</th>
                <th width='175px'>Add to Favourites</th>
            </tr>
            </thead>
            <tbody>
            {% for answer in answers %}
            <tr class="tableheight">
                <td class="tablewidth">
                    <img class="tablePicDimensions" src="{{ answer.movie.image_url}}"/>
                </td>
                <td class="tablewidth"><p>{{ answer.movie.title }}</p></td>

                {% if answer.answered == True%}
                <td class="tablewidth">
                    <span class="glyphicon glyphicon-ok fa-4x correctImage"></span>
                </td>

                {% else %}
                <td class="tablewidth">
                    <span class="glyphicon glyphicon-remove  fa-5x wrongImage"></span>
                </td>

                {% endif %}

                <td>
                    <button class="btn btn-primary summaryButton" id="{{answer.movie.id}}" type="button">Add</button>


                </td>


            </tr>
            {% endfor %}

            </tbody>
        </table>
        {% else %}
        <strong>There are no game session with this id that you can.</strong>
        {% endif %}

    </div>
</div>
{% endblock %}


