{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}<title>Login</title>{% endblock %}
{% block body %}<body id="page-top" background="/static/img/orange.jpg">{% endblock %}
{% block uppper %}
  <div class="container margin_register">
    <div class="row">
        <div class="col-sm-8 col-md-8 col-md-offset-1">
            <h1 class="text-left login-title">Upload Picture</h1>
            <div style="float: center">

                 <a href="/guess_the_movie/profile">Back to profile</a><br />

                <form id="user_form" method="post" action="/guess_the_movie/upload_picture/" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{upload_form.as_p}}

                    <input type="submit" name="submit" value="Upload" />
                    </form></div>

    </div>
</div>
        </div>
{% endblock %}
